<header>
    <a href="./" class="logo">PHONETEC</a>
    <nav>
        <a href="./" class="active">Inicio</a>
        <a href="./reparacion-de-moviles">Reparaci贸n M贸vil</a>
        <a href="./reparacion-de-tablets">Reparaci贸n Tablet</a>
        <a href="./reparacion-de-portatiles-y-pc">Reparaci贸n pc</a>
        <a href="./#contact">Contact</a>
    </nav>
    <div id="toggle" onclick="toggle()"></div>
</header>