<div id="navigation">
    <ul>
        <li><a href="#">home</a></li>
        <li><a href="#about">about</a></li>
        <li><a href="#project">Portafolio</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</div>
<div class="cookies" id="cookie">
    <p>Esta web utiliza las cookies _ga/_utm propiedad de Google Analytics para mejorar nuestros servicios mediante el
        análisis de sus hábitos de navegación. Si continúa navegando consideramos que está de acuerdo con su uso. Podrá
        revocar el consentimiento e informarse de sus derechos pulsando en Leer más.</p>
        <a href="#" class="btn btn-secondary">Leer más</a>
        <button class="btn btn-primary" onclick="AcceptCookies()">Okey</button>
</div>
