<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="Desarrollo web, Diseño web en wordpress. Freelance en Alcalá de Henares">
  <meta name="description" content="Desarrollamos tus web o aplicaciones webs.">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Desarrollo web y diseño en wordpress. Freelance en alcala de Henares JOELDEV">
  <meta property="og:url" content="https://joeldev.es">
  <meta property="og:description" content="Desarrollamos tus web o aplicaciones webs.">
  <meta name="theme-color" content="#000" />
  <link rel="canonical" href="https://joeldev.es">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./dist/css/main.css" />
  <link rel="stylesheet" href="https://joeldev.es/dist/css/extra.css" />
    <link rel="stylesheet" href="./dist/OneCss/index.css">
  <title>Desarrollador de Aplicaciones Webs</title>
</head>

<body>
  {{> nav}}
  {{> nav}}
  <section class="banner grid-2" id="sec">
    <div class="content">
      <h2 class="title show" id="mobile">
        ERROR <span>404</span> <br> Recurso no Encontrado
      </h2>
      <p>
        <span>Vuelve a la página principal 
      </p>
      <a href="./" class="btn-v1">
        <span class="bg-phonetec circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Volver Home</span>
      </a>
    </div>
    <div class="text-center">
      <img src="./dist/img/mobile.png" class="mobile" alt="">
    </div>

    <a target="_blank"  href="https://api.whatsapp.com/send?phone=34636573031&text=Necesito%20presupuesto%20para%20*modelo%20del%20terminar*%20con%20*especificar%20avería*%20" class="btn-float"><i class="fab fa-whatsapp-square"></i></a>

  </section>
  {{> nav2}}
  <script src="./dist/js/main.js"></script>
  <script>
    home()
  </script>
</body>

</html>