<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./dist/css/main.css" />
        <link rel="stylesheet" href="./dist/css/extra.css" />
        <link rel="stylesheet" href="./dist/OneCss/index.css">

        <title>Desarrollador de Aplicaciones Webs</title>
        <style>
                a {
                        color:rgb(70, 67, 67);
                }
        </style>
</head>

<body>
        {{> nav}}
        <main id="main">
                <div class="container " id="about">
                        <div class="cont" style="padding-top: 50px;">
                                <h2 style="text-align:center;">POLÍTICA DE COOKIES ANALÍTICAS</h2>
                                <p></p>

                                <div style="text-align: center;"><br>
                                        <strong>INFORMACIÓN SOBRE <em>COOKIES</em></strong><br>
                                </div>

                                <div style="text-align: justify;">Las <em>cookies </em>y otras tecnologías
                                        similares tales como local shared objects, flash <em>cookies </em>o
                                        píxeles, son herramientas empleadas por los servidores Web para
                                        almacenar y recuperar información acerca de sus visitantes, así como
                                        para ofrecer un correcto funcionamiento del sitio.</div>

                                <div style="text-align: justify;"><br>
                                        Mediante el uso de estos dispositivos se permite al servidor Web
                                        recordar algunos datos concernientes al usuario, como sus preferencias
                                        para la visualización de las páginas de ese servidor, nombre y
                                        contraseña, productos que más le interesan, etc.</div>

                                <p></p>

                                <div style="text-align: center;"><br>
                                        <em><strong>COOKIES </strong></em><strong>AFECTADAS POR LA NORMATIVA Y
                                                <em>COOKIES </em>EXCEPTUADAS</strong>
                                </div>

                                <p></p>

                                <div style="text-align: justify;">Conforme a la «Ley de Servicios de la Sociedad
                                        de la Información» (LSSICE) establecida por el Real Decreto 13/2012, es
                                        de obligación obtener el consentimiento expreso del usuario de todas las
                                        páginas web que usan <em>cookies </em>prescindibles,<em> </em>antes de
                                        que este navegue por ellas. <br>
                                        <br>
                                        Según la directiva de la UE, las <em>cookies </em>que requieren el
                                        consentimiento informado por parte del usuario son las <em>cookies
                                        </em>de analítica y las de publicidad y afiliación, quedando exceptuadas
                                        las de carácter técnico y las necesarias para el funcionamiento del
                                        sitio web o la prestación de servicios expresamente solicitados por el
                                        usuario.
                                </div>

                                <p></p>

                                <div style="text-align: center;"><br>
                                        <strong>TIPOS DE <em>COOKIES</em></strong><br>
                                </div>

                                <div style="text-align: justify;"><strong>SEGÚN LA FINALIDAD</strong>

                                        <ul>
                                                <li><strong><em>Cookies </em></strong><strong>técnicas y
                                                                funcionales</strong>: son aquellas que permiten
                                                        al usuario la navegación a través de una página web,
                                                        plataforma o aplicación y la utilización de las
                                                        diferentes opciones o servicios que en ella
                                                        existan<em>.</em> </li>
                                                <li><strong><em>Cookies
                                                                </em></strong><strong>analíticas</strong>: son
                                                        aquellas que permiten al responsable de las mismas el
                                                        seguimiento y análisis del comportamiento de los
                                                        usuarios de los sitios web a los que están vinculadas.
                                                        La información recogida mediante este tipo de
                                                        <em>cookies</em> se utiliza en la medición de la
                                                        actividad de los sitios web, aplicación o plataforma y
                                                        para la elaboración de perfiles de navegación de los
                                                        usuarios de dichos sitios, aplicaciones y plataformas,
                                                        con el fin de introducir mejoras en función del análisis
                                                        de los datos de uso que hacen los usuarios del servicio.
                                                </li>
                                        </ul>
                                        <br>
                                        <strong>SEGÚN LA PROPIEDAD</strong>

                                        <ul>
                                                <li><strong><em>Cookies</em></strong><strong> propias</strong>:
                                                        son aquellas que se envían al equipo terminal del
                                                        usuario desde un equipo o dominio gestionado por el
                                                        propio editor y desde el que se presta el servicio
                                                        solicitado por el usuario. </li>
                                                <li><strong><em>Cookies</em></strong> <strong>de
                                                                terceros:</strong> son aquellas que se envían al
                                                        equipo terminal del usuario desde un equipo o dominio
                                                        que no es gestionado por el editor, sino por otra
                                                        entidad que trata los datos obtenidos través de las
                                                        cookies.</li>
                                        </ul>
                                        <br>
                                        <strong>SEGÚN EL PLAZO DE CONSERVACIÓN</strong>

                                        <ul>
                                                <li><strong><em>Cookies</em></strong><strong> de
                                                                sesión:</strong> son un tipo de <em>cookies</em>
                                                        diseñadas para recabar y almacenar datos mientras el
                                                        usuario accede a una página web. </li>
                                                <li><strong><em>Cookies</em></strong><strong>
                                                                persistentes:</strong> son un tipo de cookies en
                                                        el que los datos siguen almacenados en el terminal y
                                                        pueden ser accedidos y tratados durante un período
                                                        definido por el responsable de la <em>cookie</em>, y que
                                                        puede ir de unos minutos a varios años.</li>
                                        </ul>
                                </div>

                                <div style="text-align: center;"><br>
                                        <strong>TRATAMIENTO DE DATOS PERSONALES</strong>
                                </div>

                                <p></p>

                                <div>
                                        <p>LEONARDO SOUZA SOUZA es el <strong>Responsable del
                                                        tratamiento</strong> de los datos personales del
                                                <strong>Interesado </strong>y le informa de que estos datos
                                                serán tratados de conformidad con lo dispuesto en el Reglamento
                                                (UE) 2016/679, de 27 de abril de 2016 (GDPR), por lo que se le
                                                facilita la siguiente información del tratamiento:
                                        </p>

                                        <p><strong>Fines del tratamiento: </strong>según se especifica en el
                                                apartado de <em>cookies </em>que se utilizan en este sitio web.
                                        </p>
                                        <strong>Legitimación del tratamiento</strong>: por consentimiento del
                                        interesado (art. 6.1 GDPR).

                                        <p><strong>Criterios de conservación de los datos</strong>: según se
                                                especifica en el apartado de <em>cookies </em>utilizadas en la
                                                web.</p>

                                        <p><strong>Comunicación de los datos</strong>: no se comunicarán los
                                                datos a terceros, excepto en cookies propiedad de terceros o por
                                                obligación legal.</p>

                                        <p><strong>Derechos que asisten al Interesado</strong>:</p>

                                        <p>- Derecho a retirar el consentimiento en cualquier momento.<br>
                                                - Derecho de acceso, rectificación, portabilidad y supresión de
                                                sus datos y a la limitación u oposición a su tratamiento.<br>
                                                - Derecho a presentar una reclamación ante la Autoridad de
                                                control (www.aepd.es) si considera que el tratamiento no se
                                                ajusta a la normativa vigente.</p>

                                        <p><strong>Datos de contacto para ejercer sus derechos:</strong></p>

                                        <p>LEONARDO SOUZA SOUZA.<strong> </strong>AV. LOPE DE FIGUEROA, 1 LOCAL
                                                2 - 28804 ALCALA DE HENARES (Madrid). Email:
                                                phontecnico@gmail.com<br>
                                                <br>
                                        </p>

                                        <p></p>

                                        <p style="text-align: center;"><strong><em>COOKIES </em>UTILIZADAS EN
                                                        ESTE SITIO WEB</strong><br>
                                        </p>

                                        <table border="0" cellpadding="1" cellspacing="1" class="pdf_datatable"
                                                style="width:100%;">
                                                <tbody>
                                                        <tr>
                                                                <td
                                                                        style="text-align: center; width: 100%; height: 25px;">
                                                                        <span style="font-size:14px;"><strong>PANEL
                                                                                        DE
                                                                                        CONFIGURACIÓN</strong></span>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <td style="width: 100%;">
                                                                        <strong> COOKIES ANALÍTICAS</strong><br>
                                                                        <strong><span
                                                                                        style="font-size:16px;">O</span><span
                                                                                        style="font-size:18px;">
                                                                                </span></strong>Marcar o
                                                                        desmarcar según se desee aceptar o
                                                                        rechazar la instalación de estas
                                                                        cookies.
                                                                </td>
                                                        </tr>
                                                </tbody>
                                        </table>

                                        <table border="0" cellpadding="1" cellspacing="1" class="pdf_datatable"
                                                style="width:100%;">
                                                <tbody>
                                                        <tr>
                                                                <td style="width: 5%;">NOMBRE</td>
                                                                <td style="width: 10px;">TIPO</td>
                                                                <td style="width: 10%;">PROPIEDAD</td>
                                                                <td style="width: 55%;">FINALIDAD</td>
                                                                <td style="width: 10%;">PLAZO</td>
                                                                <td style="width: 15%;">OBSERVACIONES</td>
                                                        </tr>
                                                        <tr>
                                                                <td style="width: 5%;"><strong>_ga</strong></td>
                                                                <td style="width: 10px;">Analítica</td>
                                                                <td style="width: 10%;">Google Analytics</td>
                                                                <td style="width: 55%;">Habilita la función de
                                                                        control de visitas únicas. La primera
                                                                        vez que un usuario entre en el sitio web
                                                                        a través de un navegador se instalará
                                                                        esta <em>cookie</em>. Cuando este
                                                                        usuario vuelva a entrar en la web con el
                                                                        mismo navegador, la <em>cookie
                                                                        </em>considerará que es el mismo
                                                                        usuario. Solo en el caso de que el
                                                                        usuario cambie de navegador, se
                                                                        considerará otro usuario</td>
                                                                <td style="width: 10%;">2 años</td>
                                                                <td style="width: 15%;">Persistente</td>
                                                        </tr>
                                                        <tr>
                                                                <td style="width: 5%;">_<strong>gat</strong>
                                                                </td>
                                                                <td style="width: 10px;">Analítica</td>
                                                                <td style="width: 10%;">Google Analytics</td>
                                                                <td style="width: 55%;">Se utiliza para limitar
                                                                        la velocidad de petición - la limitación
                                                                        de la recogida de datos en los sitios de
                                                                        alto tráfico</td>
                                                                <td style="width: 10%;">10 minutos</td>
                                                                <td style="width: 15%;">Sesión</td>
                                                        </tr>
                                                        <tr>
                                                                <td style="width: 5%;"><strong>_gid</strong>
                                                                </td>
                                                                <td style="width: 10px;">Analítica</td>
                                                                <td style="width: 10%;">Google Analytics</td>
                                                                <td style="width: 55%;">Se utiliza para
                                                                        distinguir a los usuarios</td>
                                                                <td style="width: 10%;">24 horas</td>
                                                                <td style="width: 15%;">Sesión</td>
                                                        </tr>
                                                </tbody>
                                        </table>

                                        <p></p>
                                </div>

                                <div>Obtener más información para <strong>deshabilitar las
                                                <em>cookies</em></strong> de Google Analytics:</div>

                                <ul>
                                        <li><a href="https://policies.google.com/technologies/managing">Política
                                                        de privacidad de </a><a
                                                        href="https://tools.google.com/dlpage/gaoptout">Google</a>
                                        </li>
                                        <li><a href="https://support.google.com/analytics/answer/181881?hl=es">Exclusión
                                                        de Google Analytics</a></li>
                                </ul>

                                <p></p>

                                <div>
                                        <table border="0" cellpadding="1" cellspacing="1" class="pdf_datatable"
                                                style="width:100%;">
                                                <tbody>
                                                        <tr>
                                                                <td
                                                                        style="text-align: center; width: 100%; height: 25px;">
                                                                        <strong>CÓMO ELIMINAR LAS COOKIES DE LOS
                                                                                NAVEGADORES MÁS COMUNES</strong>
                                                                </td>
                                                        </tr>
                                                </tbody>
                                        </table>
                                </div>

                                <div>
                                        <table border="0" cellpadding="1" cellspacing="1" class="pdf_datatable"
                                                style="width:100%;">
                                                <tbody>
                                                        <tr>
                                                                <td style="width: 30px;"><strong>Chrome</strong>
                                                                </td>
                                                                <td style="width: 70%;"><a
                                                                                href="http://support.google.com/chrome/answer/95647?hl=es">http://support.google.com/chrome/answer/95647?hl=es</a>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <td style="width: 30%;"><strong>Internet
                                                                                Explorer. Versión 11</strong>
                                                                </td>
                                                                <td style="width: 70%;"><a
                                                                                href="https://support.microsoft.com/es-es/help/278835/how-to-delete-cookie-files-in-internet-explorer">https://support.microsoft.com/es-es/help/278835/how-to-delete-cookie-files-in-internet-explorer</a>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <td style="width: 30%;"><strong>Firefox. Versión
                                                                                65.0.1</strong></td>
                                                                <td style="width: 70%;"><a
                                                                                href="https://www.mozilla.org/es-ES/privacy/websites/#cookies">https://www.mozilla.org/es-ES/privacy/websites/#cookies</a>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <td style="width: 30%;"><strong>Safari Versión
                                                                                5.1</strong></td>
                                                                <td style="width: 70%;"><a
                                                                                href="https://support.apple.com/es-es/guide/safari/sfri11471/mac"
                                                                                target="_blank">https://support.apple.com/es-es/guide/safari/sfri11471/mac</a>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <td style="width: 30%;"><strong>Opera</strong>
                                                                </td>
                                                                <td style="width: 70%;"><a
                                                                                href="https://help.opera.com/en/latest/security-and-privacy/#clearBrowsingData">https://help.opera.com/en/latest/security-and-privacy/#clearBrowsingData</a>
                                                                </td>
                                                        </tr>
                                                </tbody>
                                        </table>
                                </div>
                        </div>
                </div>
                {{> footer}}
        </main>
        {{> nav2}}
        <script src="./dist/js/main.js"></script>
        <script>
        </script>
</body>

</html>