<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="Desarrollo web, Diseño web en wordpress. Freelance en Alcalá de Henares">
  <meta name="description"
    content="Desarrollador de Aplicaciones Webs en alcala de henares. Habilidades NodeJs, JavaScript, Css, PHP">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://joeldev.es/dist/img/head.png">
  <meta property="og:title" content="Desarrollo web y diseño en wordpress. Freelance en alcala de Henares JOELDEV">
  <meta property="og:url" content="https://www.joeldev.es">
  <meta property="og:description"
    content="Desarrollador de Aplicaciones Webs en alcala de henares. Habilidades NodeJs, JavaScript, Css, PHP">
  <meta name="theme-color" content="#000" />
  <link rel="canonical" href="https://www.joeldev.es">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./dist/css/main.css" />
  <link rel="stylesheet" href="./dist/css/extra.css" />
  <link rel="stylesheet" href="./dist/OneCss/index.css">
  <title>Desarrollador de Aplicaciones Webs</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115764107-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

          gtag('config', 'UA-115764107-1');
    </script>

</head>

<body>

  {{> nav}}
  <section class="banner grid-2" id="sec">
    <div class="content">
      <h1 class="title show" id="mobile">
        Reparación de <span>Móviles</span> en Alcalá de Henares
      </h1>
      <h2 class="title" id="tablet">
        Reparación de <span>Tablets</span> en Alcalá de Henares
      </h2>
      <h2 class="title" id="pc">
        Reparación de <span>Ordenadores</span> en Alcalá de Henares
      </h2>
      <p>
        <span>Todos nuestros repuestos son <label>ORIGINALES</label> y con <label>GARANTÍA</label>
      </p>
      <a href="tel:+34636573031" class="btn-v1">
        <span class="bg-phonetec circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Presupuesto</span>
      </a>
    </div>
    <div class="text-center">
      <img src="./dist/img/iphone.png" class="mobile" alt="">
    </div>

    <a target="_blank"
      href="https://api.whatsapp.com/send?phone=34636573031&text=Presupuesto"
      class="btn-float"><i class="fab fa-whatsapp-square"></i></a>

  </section>
  <main id="main">
    <div class=" text-center service vh-100">
      <div class="container">
        <div class="contenido">

          <h2>Haz tus reparaciones de móviles con nosotros</h2>
          <hr>
          <p>
            Somos una tienda de reparación de móviles en <b>Alcalá de Henares</b> y sabemos lo <b>importante</b> que es
            el móvil, la Tablet y el ordenador para ti,
            por ello te ofrecemos un <b>servicio de máxima calidad y rapidez.</b> <br> <br>
            Disponemos de varios <b>años de experiencia</b> en la reparación de móviles de todas las marcas como
            <b>Samsung, Xiaomi, Apple,
              Huawei, BQ</b> entre otras. Además, trabajamos con <b>repuestos originales</b>. <br> Nuestros precios son
            los
            más competitivos y
            te aseguramos un ahorro en todas tus reparaciones.

          </p>
          <a href="#reseñas" class="btn btn-light" style="border: none;font-size:20px">Ver Reseñas</a> <a
            target="_blank"
            href="https://api.whatsapp.com/send?phone=34636573031&text=Necesito%20presupuesto%20para%20*modelo%20del%20terminar*%20con%20*especificar%20avería*%20"
            class="btn bg-phonetec" style="color: #fff; border:none; font-size:20px">Pedir Presupuesto</a>
        </div>
      </div>
      <div style="padding:100px 0px 100px 0px;">
        <h2>¿Qué ofrecemos en nuestras reparaciones?</h2>
        <div class="grid-3 features">

          <div class="card-service">
            <img src="./dist/img/lightning-bolt.png" alt="">

            <h3>Rapidez</h3>
            <p>Consideramos importante que la reparación de un móvil, tablet, ordenador sea rápida y de calidad para
              conseguir tu satisfacción.</p>
          </div>
          <div class="card-service">
            <img src="./dist/img/guarantee.png" alt="">
            <h3>Garantía</h3>
            <p>Nuestros servicios cuentan con garantía, para asegurarnos de que tenga la mejor experiencia al reparar
              sus
              dispositivos.</p>
          </div>
          <div class="card-service">
            <img src="./dist/img/good-quality.png" alt="" srcset="">
            <h3>Repuesto Originales</h3>
            <p>Para conseguir el mejor resultado, utilizamos repuestos 100% originales.</p>
          </div>
        </div>
      </div>

      <div class="container ">
        <div class="contenido">
          <h3>¿Qué Reparamos?</h3>
          <p>Todos nuestros técnicos estan especializados en la reparación de <span>Móviles, Tablets y
              Ordenadores</span> de
            cualquier
            marca del mercado y utilizan repuestos de <span>alta calidad</span>. Ademas te damos <span>Garantía de 3
              meses</span> en toda
            reparación
            que realicemos.</p>
        </div>

        <div class="grid-4 items">
          <div class="card-service bg-phonetec">
            <img src="./dist/img/screenbroken.png" alt="" srcset="">
            <p> Reparación de Pantallas</p>
          </div>
          <div class="card-service bg-phonetec">
            <img src="./dist/img/battery-alert.png" alt="">
            <p> Cambio de Bateria</p>
          </div>
          <div class="card-service bg-phonetec">
            <img src="./dist/img/android.png" alt="">
            <p>Reparación de Sotfware</p>
          </div>
          <div class="card-service bg-phonetec"><i style="height: 50px;" class="fas fa-wrench"></i>
            <p>Reparación en Placa</p>
          </div>
          <div class="card-service bg-phonetec"><i style="height: 50px;" class="fas fa-file-medical-alt"></i>
            <p>Recuperación de Datos</p>
          </div>
          <div class="card-service bg-phonetec">
            <img src="./dist/img/conector.png" alt="">
            <p>Cambio de Conector de carga</p>
          </div>

          <div class="card-service bg-phonetec"><img src="./dist/img/virus.png" alt="">
            <p>Eliminación de Virus y Malwares</p>
          </div>
          <div class="card-service bg-phonetec"><img src="./dist/img/water.png" alt="">
            <p>Móviles mojados</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carrousel" id="reseñas">
      <h3>Qué opinan nuestros clientes</h3>
      <input type="radio" name="slides" id="radio-1" checked>
      <input type="radio" name="slides" id="radio-2">
      <input type="radio" name="slides" id="radio-3">
      <input type="radio" name="slides" id="radio-4">
      <ul class="slides">
        <li class="slide">
          <p>
            <q>Un trabajo excelente, siempre que tengo un problema con el movil o cualquier cosa intenta
              solucionarmelo con la mayor rapidez.
              Muy majo</q>
            <span class="author">
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                class="fas fa-star"></i><i class="fas fa-star"></i> <br>
              Stefania Zahan
            </span>
          </p>
        </li>
        <li class="slide">
          <p>
            <q>Excelente servicio! Gran profesionalidad, trato muy amable y por si fuera poco precio inmejorable. Si
              vuelvo a tener algún problema con mi móvil volveré sin ninguna duda.</q>
            <span class="author">
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                class="fas fa-star"></i><i class="fas fa-star"></i> <br>
              Samuel Ortega Exposito
            </span>
          </p>
        </li>
        <li class="slide">
          <p>
            <q>Si tienes cualquier tipo de problema con el móvil, tablet, ect... no dudes en acudir a Phonetec, Leo te
              lo solucionará de manera, rápida y muy profesional. Lo mejor que puedes encontrar.</q>
            <span class="author">
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                class="fas fa-star"></i><i class="fas fa-star"></i> <br>
              Vicente Mendieta
            </span>
          </p>
        </li>
        <li class="slide">
          <p>
            <q>Atención impecable con productos de alta calidad y precio muy asequible.
              En cuanto a mi experiencia, encantada, me dejaron el teléfono como nuevo.</q>
            <span class="author">
              <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                class="fas fa-star"></i><i class="fas fa-star"></i> <br>
              Paloma Camarena Soriano
            </span>
          </p>
        </li>
      </ul>
      <div class="slidesNavigation">
        <label for="radio-1" id="dotForRadio-1"></label>
        <label for="radio-2" id="dotForRadio-2"></label>
        <label for="radio-3" id="dotForRadio-3"></label>
        <label for="radio-4" id="dotForRadio-4"></label>
      </div>
    </div>
    <div class=" text-center newservice">
      <div class="container ">
        <div class="contenido">
          <h3 id="d">Nuevos Servicios</h3>
          <p>Nos gusta traer nuevos servicios</p>
        </div>
      </div>
      <div class="grid-3 items">
        <a href="https://api.whatsapp.com/send?phone=34636573031" class="card-service"><i class="fas fa-mobile-alt"></i>
          <p>Recogida de Terminal</p>
          <span>Saber más</span>
        </a>
        <a href="#" class="card-service"><img src="./dist/img/joeldev(black).png" height="45px" alt="">
          <p>Desarrollo Web</p>
          <span>Saber más</span>
        </a>
        <a href="https://shop.phonetec.es" target="_blank" class="card-service"><i class="fas fa-shopping-cart"></i>
          <p>Tienda Online</p>
          <span>Visitar</span>
        </a>
      </div>

    </div>

    <div class="contact" id="contact">
      <h3>Contactanos</h3>

      <div class="grid-1">

        <form id="sendmail">
          <p>Horario: Lunes a Viernes: 10:00-14:00 / 17:00-20:30 <br>
             <br>
            <span><i class="fas fa-map-marker-alt"></i> Avenida Lope de Figueroa,1 local 2, Alcalá de Henares,
              Madrid</span> <br>
            <span style="margin-right: 10px;"><i class="fas fa-envelope"></i> phontecnico@gmail.com</span>
            <span><i class="fas fa-envelope"></i> 636 573 031 - 912 655 000</span>
          </p>
          <input type="text" name="name" placeholder="Nombre Completo *" required />
          <input type="tel" name="email" placeholder="Número Móvil *" required />
          <input type="text" name="subject" placeholder="Asunto" />
          <textarea id="" cols="30" rows="5" name="texto" placeholder="Text *" required></textarea>
          <div class="check">
            <label style="color: black;">* Requerido para enviar</label> <br>
            <input type="checkbox" name="" id="legal" required />
            <label for="legal" style="color: black;">He leido y acepto la <a href="./privacy-policy">Pólitica de
                Privacidad</a>
            </label>
            <input type="submit" class="btn" value="Enviar" />
          </div>
        </form>
      </div>

    </div>
    {{> footer}}
  </main>

  {{> nav2}}
  <script src="./dist/js/main.js"></script>
  {{> js}}
  <script>
    time(0);
    time1(0)
  </script>
</body>

</html>
