<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:type" content="website">
    <meta property="og:image" content="https://phonetec.es/dist/img/iphone.png">
    <meta property="og:title" content="PHONETEC reparación de móviles en alcalá de henares.">
    <meta property="og:url" content="https://phonetec.es">
    <meta property="og:description"
        content="Repara tu iphone, samsung, xioami con el mejor precio en alcalá de henares.">
    <meta name="theme-color" content="#000" />

    <link rel="canonical" href="https://phonetec.es">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="title" content=" ≫ Phonetec Reparación de móviles Alcala de Henares ✅">
    <meta name="description" content="¿Tu móvil te está dando problemas?💥 No esperes más y ven a vernos, sea cual sea la avería, nosotros lo reparamos en tiempo récord.🥇">
    <meta name="author" content="Phonetec">
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    
    
    <link rel="stylesheet" href="./dist/css/main.css" />
    <link rel="stylesheet" href="./dist/css/extra.css" />
    <link rel="stylesheet" href="./dist/OneCss/index.css">
    <title>Desarrollador de Aplicaciones Webs</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115764107-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

          gtag('config', 'UA-115764107-1');
    </script>

</head>

<body>

    {{> nav}}
    <section class="banner grid-2" id="sec">
        <div class="content">
            <h1 class="title show" id="mobile">
                Reparación de <span>Móviles</span> en Alcalá de Henares
            </h1>
            <p>
                <span>Todos nuestros repuestos son <label>ORIGINALES</label> y con <label>GARANTÍA</label>
            </p>
            <a href="tel:+34636573031" class="btn-v1">
                <span class="bg-phonetec circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
                <span class="button-text">Presupuesto</span>
            </a>
        </div>
        <div class="text-center">
            <img src="./dist/img/mobile.svg" class="mobile" alt="">
        </div>

        <a target="_blank"
            href="https://api.whatsapp.com/send?phone=34636573031&text=Presupuesto"
            class="btn-float"><i class="fab fa-whatsapp-square"></i></a>

    </section>
    <main id="main">
        <div class=" text-center service vh-100">
            <div class="container">
                <div class="contenido">
                    <h2>La mejor calidad al reparar tu móvil </h2>

                    <p>
                        Tu móvil se ha roto, no enciende… No sabes que hacer y adonde acudir para
                        solucionar tu problema lo <b>más rápido posible</b> y con la <b>Calidad Precio</b> que te
                        mereces. <b>En
                            Phonetec
                            te daremos la solución.</b>
                        Nuestros precios son <b>competitivos y baratos</b>, esto no significa que bajemos la calidad de
                        los
                        componentes, porque <b>nos gusta trabajar con repuestos originales</b> . Además, te ofrecemos un
                        servicio rápido y eficaz, porque sabemos lo importante que es tu móvil y no te puedes quedar sin
                        el.
                        Para beneficiarte de nuestros servicios solo tienes que acudir a nuestro establecimiento y
                        nuestros técnicos presupuestarán la reparación de tu móvil sin coste y sin compromiso.
                        Estamos para ayudarte.

                    </p>
                    <a href="./#reseñas" class="btn btn-light" style="border: none;font-size:20px">Ver Reseñas</a> <a
                        target="_blank"
                        href="https://api.whatsapp.com/send?phone=34636573031&text=Necesito%20presupuesto%20para%20*modelo%20del%20terminar*%20con%20*especificar%20avería*%20"
                        class="btn bg-phonetec" style="color: #fff; border:none; font-size:20px">Pedir Presupuesto</a>
                </div>
                <div class="container ">
                    <div class="contenido">
                        <h3>Servicios</h3>
                        <p>Todos nuestros técnicos estan especializados en la reparación de <span>Móviles</span> de
                            cualquier
                            marca del mercado como <b>Samsung, Apple, Xiaomi, Huawei, Oppo, RealMe ...</b> y utilizan
                            repuestos de <span>alta calidad</span>. Ademas te damos
                            <span>Garantía de 3
                                meses</span> en toda
                            reparación
                            que realicemos.</p>
                    </div>
                    <div class="grid-4 items">
                        <div class="card-service bg-phonetec">
                            <img src="./dist/img/screenbroken.png" alt="" srcset="">
                            <p> Reparación de Pantallas</p>
                        </div>
                        <div class="card-service bg-phonetec">
                            <img src="./dist/img/battery-alert.png" alt="">
                            <p> Cambio de Bateria</p>
                        </div>
                        <div class="card-service bg-phonetec">
                            <img src="./dist/img/android.png" alt="">
                            <p>Reparación de Sotfware</p>
                        </div>
                        <div class="card-service bg-phonetec"><i style="height: 50px;" class="fas fa-wrench"></i>
                            <p>Reparación en Placa</p>
                        </div>
                        <div class="card-service bg-phonetec"><i style="height: 50px;"
                                class="fas fa-file-medical-alt"></i>
                            <p>Recuperación de Datos</p>
                        </div>
                        <div class="card-service bg-phonetec">
                            <img src="./dist/img/conector.png" alt="">
                            <p>Cambio de Conector de carga</p>
                        </div>

                        <div class="card-service bg-phonetec"><img src="./dist/img/virus.png" alt="">
                            <p>Eliminación de Virus y Malwares</p>
                        </div>
                        <div class="card-service bg-phonetec"><img src="./dist/img/water.png" alt="">
                            <p>Móviles mojados</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact" id="contact">
                <h3>Contactanos</h3>

                <div class="grid-1">

                    <form id="sendmail">
                        <p>Horario: Lunes a Viernes: 10:00-14:00 / 17:00-20:30 <br>
                            <br>
                            <span><i class="fas fa-map-marker-alt"></i> Avenida Lope de Figueroa,1 local 2, Alcalá de
                                Henares,
                                Madrid</span> <br>
                            <span style="margin-right: 10px;"><i class="fas fa-envelope"></i> phontecnico@gmail.com</span>
                            <span><i class="fas fa-envelope"></i> 636 573 031 - 912 655 000</span>
                        </p>
                        <input type="text" name="name" placeholder="Nombre Completo *" required />
                        <input type="tel" name="email" placeholder="Número Móvil *" required />
                        <input type="text" name="subject" placeholder="Asunto" />
                        <textarea id="" cols="30" rows="5" name="texto" placeholder="Text *" required></textarea>
                        <div class="check">
                            <label style="color: black;">* Requerido para enviar</label> <br>
                            <input type="checkbox" name="" id="legal" required />
                            <label for="legal" style="color: black;">He leido y acepto la <a
                                    href="./privacy-policy">Pólitica de
                                    Privacidad</a>
                            </label>
                            <input type="submit" class="btn" value="Enviar" />
                        </div>
                    </form>
                </div>

            </div>
            {{> footer}}
    </main>

    {{> nav2}}
    <script src="./dist/js/main.js"></script>
    {{> js}}
</body>

</html>
